services:
  webapp:
    build: .
    user: "0:989"
    container_name: anchorpoint-web
    restart: unless-stopped
    # Logic: Host mode allows the app to see the real network interfaces
    network_mode: host
    environment:
      - APP_PORT=4000
    volumes:
      # Optional: Mount the log file to your host to view it easily
      - ./info.log:/app/info.log
      # Logic: Mount the docker socket so system.GetDockerContainers() works
      - /var/run/docker.sock:/var/run/docker.sock
      # Add this line to give the app access to host system stats:
      - /proc:/host/proc:ro
      # Add this line to persist your users
      - ./anchorpoint.db:/app/anchorpoint.db      
    cap_add:
      - NET_ADMIN
      - NET_RAW